#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    background-color:#eeeeee;
    color:black;
    text-align:center;
    padding:5px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
#section {
    text-align:center;
    padding:10px;
}
